# 这种方法可以运行模型，但是会报
# Using unk_token, but it is not set yet.
# Using sep_token, but it is not set yet.
# Using cls_token, but it is not set yet.
# Using mask_token, but it is not set yet.
# 升级transformers可以解决这个问题，但是会报model.generate()的问题
# torch<=2.0.1
# scipy
# seaborn
# notebook
# packaging
# sentencepiece
# datasets
# accelerate==0.21.0
# bitsandbytes>=0.41.1
# evaluate>=0.4.0
# tokenizers>=0.13.3
# protobuf
# git+https://github.com/yizhongw/transformers.git@left_padding




torch==2.3.0
scipy
seaborn
notebook
packaging
sentencepiece
datasets
accelerate
bitsandbytes
evaluate
tokenizers
protobuf
transformers==4.40.0